################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/CDP.ContestHost.Site/npm-shrinkwrap.json
